.folder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.folder-icon ion-icon {
    font-size: clamp(72px, 8vw, 120px);
}

.folder:hover {
    background-color: #1a1a2e1b;
}
